.navbar{
    height: 50px;
}
.nav-link{
    color: azure;
}
.nav-link:hover{
    color: rgb(141, 3, 3);
}
.container2 img{
    width: 98%;
    height: 500px;
}
.container4 img{
    width: 30%;
    height: 70px;
}
footer{
    height: 50px;
}